<br>
<br>
 <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Пошук" aria-label="Пошук">
      <button class="btn btn-outline-success" type="submit">Шукати</button>
  </form>
<br>
<br>
<div class="container overflow-hidden">
  <div class="row gx-5">
    <div class="col">
     <!div class="p-3 border bg-light"><!/div>
     <%= link_to image_tag("piople.jpg",:size => "360x350"),articles_path %>
    </div>
    <!/div>
    <div class="col">
      <!div class="p-3 border bg-light"><!/div>
     <%= link_to image_tag("dag.jpg",:size => "360x350"),articles_path %>
    </div>
    <!/div>
    <div class="col">
      <!div class="p-3 border bg-light"><!/div>
      <%= link_to image_tag("thing.jpg",:size => "360x350"),articles_path %>
    <!/div>
    </div>
  </div>
 </div>

 
 