<br>
<br>
<div class="container overflow-hidden">
  <div class="row gx-5">
    <div class="col">
     <div class="p-3 border bg-light">Пользовательские внутренние отступы колонок</div>
     <button type="button" class="button big gray bi bi-pencil-square">Primary</button>
    </div>
    <div class="col">
      <div class="p-3 border bg-light">Пользовательские внутренние отступы колонок</div>
      <button type="button" class="button big gray bi bi-pencil-square">Primary</button>
    </div>
    <div class="col">
      <div class="p-3 border bg-light">Пользовательские внутренние отступы колонок</div>
      <button type="button" class="button big gray bi bi-pencil-square">Primary</button>
    </div>
  </div>
  <button type="button" class="button big gray bi bi-pencil-square">Primary</button>
 </div>

 
 